extends layout

block content
    div(class="columns")
        div(class="column")
        div(class="column is-two-fifths")
            div(class="box has-text-centered") 
                h1(class="title has-text-dark") Login
                a(class="button is-danger is-outlined" href="/auth/google") Login with Google
        div(class="column")